@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500;700&family=Roboto+Slab:wght@200;300;400;500&family=Source+Code+Pro&display=swap');

*
{
    margin: 0;
    padding: 0;
}

.sidebar
{
    background-color: #fffcdf;
    width: 1vw;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    z-index: 0;
}

.sideIcon img
{
    width: 13vw;
    padding: 32px;
    justify-content: center;
    padding-bottom: 36%;
    z-index: 1;
}

.contactIcon img
{
    width: 3vw;
    margin-top: 8%;
    padding: 4px;
}

.contactIcon a
{
    text-decoration: none;
}

.icons
{
    display: flex;
    margin-left: 0.7%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.main
{
    width: 99vw;
    font-family: 'Roboto Mono', monospace;
    background-color: #111111; /* try 0f0f0f or something */
    color: #fffcdf;
    z-index: 2;
}

.container
{
    display: flex;
}

.mainInfo
{
    height: 56vh;
    width: 80vw;
    margin: auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}

.mainBox
{
    height: 36vh;
    width: 80vw;
    margin: auto;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 300;
}

.myskills
{
    height: 40vh;
    width: 48vw;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 96px;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 300;
}

.mystory
{
    padding-left: 8%;
}

.recolor
{
    font-weight: 500;
    font-size: 1.1em;
}

.skillContainer
{
    display: flex;
    justify-content: space-around;
}

.icon img
{
    height: 56vh;
}

.skillLevels
{
    opacity: 0;
    animation: fadeInAnimation 2s forwards ease-in-out;
}

.skillLevels img
{
    height: 40vh;
    margin: auto;
}

.intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titles
{
    font-size: 2em;
    font-weight: 500;
}

.name
{
    font-size: 3em;
}

.infoText
{
    font-size: 1.25em;
    font-weight: 300;
    margin-top: 16px;
}

.links
{
    text-decoration: none;
    color: #fffcdf;
}

.linksLight
{
    color: black;
}

.about
{
    padding: 12px;
    border-radius: 32px;
    border-color: transparent;
    background-color:#fffcdf;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    margin-left: 40%;
    margin-top: 48px;
}

.about:hover
{
    background-color: #111111;
    border-color: transparent;
    color: #fffcdf;
}

.aboutLight
{
    background-color: #111111;
    color: #fffcdf;
}

.aboutLight:hover
{
    background-color: #fffcdf;
    color: black;
}

.hamburger
{
    position: absolute;
    top: 2%;
}

.hamburger img
{
    width: 3vw;
}

.hamburger button
{
    background-color: transparent;
    border-color: transparent;
}

.nightmode
{
    position: absolute;
    right: 2%;
    top: 4%;
}

.nightmode img
{
    width: 3vw;
}

.nightmode button
{
    background-color: transparent;
    border-color: transparent;
}

.lightmode
{
    background-color: #fffcdf;
    color: black;
}

.sideLightMode
{
    background-color: #111111;
    color: #fffcdf;
}

.rotate
{
    animation: rotation 1s forwards;
}

.reset
{
    animation: reverseRotation 1s forwards;
}

.mainShrink
{
    animation: slideMain 1s forwards;
}

.sidebarGrow
{
    animation: growSidebar 1s forwards;
}

.mainGrow
{
    animation: mainSlide 1s forwards;
}

.sidebarShrink
{
    animation: shrinkSidebar 1s forwards;
}

.typing
{
    padding-left: 0%;
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    color: lime;
    position: relative;
    width: 100%;
}

.typing::after
{
    content: "|";
    color: white;
    font-size: 2em;
    background-color: #111111;
    position: absolute;
    right: 0;
    width: 92%;
    animation: coding 7s steps(69) alternate infinite, blinkingWhite 1s infinite;
}

.typingLight
{
    color: green;
}

.typingLight::after
{
    background-color: #fffcdf;
    color: black;
    animation: coding 7s steps(69) alternate infinite, blinkingBlack 1s infinite;
}

.python
{
    display: none;
}

.java
{
    display: inline-block;
}

@media screen and (max-width: 875px)
{
    .typing
    {
        color: transparent;
    } 
    .typing::after
    {
        background-color: transparent;
        color: transparent;
        animation: off;
    }
}

@media screen and (max-width: 1200px)
{
    .python
    {
        display: inline-block;
    }
    .java
    {
        display: none;
    }
}

@media screen and (max-width: 1300px)
{
    .name
    {
        font-size: 2em;
    }
    .titles
    {
        font-size: 1.25em;
    }
    .infoText
    {
        font-size: 0.75em;
    }
    .buttons button
    {
        font-size: 1em;
    }
}

@keyframes fadeInAnimation
{
    0% 
    {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    100% 
    {
        opacity: 1;
        transform: translate3d(50px, 0, 0);
    }
}

@keyframes coding 
{
    to
    {
        width: 2%;
    }
}

@keyframes blinkingWhite
{
    30%
    {
        color: white;
    }
    31%
    {
        color: transparent;
    }
    69%
    {
        color: transparent;
    }
    70%
    {
        color: white
    }
}

@keyframes blinkingBlack
{
    30%
    {
        color: black;
    }
    31%
    {
        color: transparent;
    }
    69%
    {
        color: transparent;
    }
    70%
    {
        color: black;
    }
}

@keyframes rotation 
{
    from 
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(180deg);
    }
}

@keyframes reverseRotation
{
    from
    {
        transform: rotate(180deg);
    }
    to
    {
        transform: rotate(0deg);
    }
}

@keyframes slideMain
{
    to
    {
        width: 84vw;
    }
}

@keyframes growSidebar
{
    to
    {
        width: 16vw;
    }
}

@keyframes mainSlide
{
    to
    {
        width: 99vw;
    }
}

@keyframes shrinkSidebar
{
    from
    {
        width: 16vw;
    }
    to
    {
        width: 1vw;
    }
}
